<!DOCTYPE html>
<html lang="ja" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>掲示板</title>
    <meta name="description" content="掲示板です">
    <link rel="stylesheet" th:href="@{/css/board.css}" type="text/css">
</head>
<body>
<div layout:fragment="content">
    <div id="board-area">
        <h2 class="title">
            【速報】ライスとカレー混ぜる人が3割存在する事が発覚
        </h2>
        <div th:replace="~{fragments/thread(comments=${comments})}">
        </div>
    </div>
    <hr>
    <form method="POST" th:action="@{/board}" th:object="${commentForm}">
        <input placeholder="名前" th:field="*{name}">
        <span class="error_message" th:if="${#fields.hasErrors('name')}" th:error="*{name}">Name Error</span>
        <input placeholder="メールアドレス" th:field="*{email}">
        <span class="error_message" th:if="${#fields.hasErrors('email')}" th:error="*{email}">Email Error</span>
        <textarea placeholder="コメント内容" rows="5" cols="80" wrap="off" th:field="*{comment}">
        </textarea>
        <span class="error_message" th:if="${#fields.hasErrors('comment')}" th:error="*{comment}">Comment Error</span>
        <button>送信</button>
    </form>
</div>
</body>
</html>